@import './styles/background-enhancements.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;

        /* 默认字体变量 */
        --font-size-title: 1.25rem;
        --font-size-body: 0.875rem;
        --font-family-primary:
            system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
            'Microsoft YaHei', sans-serif;
    }

    body {
        @apply m-0 h-screen min-h-screen w-full min-w-80 p-0;
        @apply font-primary text-body leading-relaxed;
        @apply text-newtab-text-primary-light dark:text-newtab-text-primary-dark;
        @apply bg-newtab-bg-light dark:bg-newtab-bg-dark;
        -webkit-overflow-scrolling: touch;

        scroll-behavior: smooth;

        @apply m-0 h-full w-full p-0;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    html {
        scrollbar-width: none;
    }
}
